.choices {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 10px;
}

.matchscores {
  display: flex;
  justify-content: center;
  font-family: Courier, monospace;
  font-size: 32px;
  color: white;
  margin-top: 20px;
}

.matchscores > * {
  margin: 0 30px;
}

.result {
  text-align: center;
  font-size: 32px;
  color: white;
  margin-top: 40px;
}

.link-section {
  text-align: center;
  margin-top: 45px;
}

.choices img {
  cursor: pointer;
  display: inline-block;
  width: 125px
}
